.education {
  margin: 50px 0px;
  margin-left: 110px;
  background-color: rgba(128, 128, 128, 0.138);
}
.education hr {
  color: #138781;
  width: 400px;
  margin: 10px auto;
}
.education h2 {
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #138781;
}
.vertical-timeline-element-title {
  color: #361387;
}
.vertical-timeline-element-subtitle {
  color: #1e1e2c;
}
#dark .vertical-timeline-element--work {
  color: #f4eee0;
}

/* Media */
@media (max-width: 600px) {
  .education {
    margin: 0;
    padding: 0;
    margin-top: -15px;
  }
  .education h2 {
    font-weight: bold;
    padding: 2px;
  }
  .education hr {
    width: auto;
    margin: 0;
  }
}
